node_red_flow.json
[{"id":"ef4f7fab.73edd8","type":"subflow","name":"Message to Dot Matrix","info":"","category":"","in":[{"x":100,"y":100,"wires":[{"id":"372181f4.110cd6"}]}],"out":[{"x":680,"y":100,"wires":[{"id":"a9c9a85f.482fd8","port":0},{"id":"fb78934eab9277a5","port":0}]}],"env":[{"name":"IP","type":"str","value":"x.x.x.x"},{"name":"MESSAGE","type":"str","value":"Node Red Payload Undefined. Check your flow!"},{"name":"REPEAT","type":"str","value":"10"},{"name":"BUZZER","type":"str","value":"3"},{"name":"DELAY","type":"str","value":"30"},{"name":"USERNAME","type":"str","value":"admin"},{"name":"PASSWORD","type":"str","value":"esp8266"}],"meta":{},"color":"#D7D7A0"},{"id":"a9c9a85f.482fd8","type":"http request","z":"ef4f7fab.73edd8","name":"http to RDA_MAX7219","method":"GET","ret":"txt","paytoqs":"ignore","url":"{{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":100,"wires":[[]]},{"id":"372181f4.110cd6","type":"function","z":"ef4f7fab.73edd8","name":"Compose URL","func":"var ip = env.get(\"IP\");\nvar username = env.get(\"USERNAME\");\nvar password = env.get(\"PASSWORD\");\nvar message = env.get(\"MESSAGE\");\nvar repeat = env.get(\"REPEAT\");\nvar buzzer = env.get(\"BUZZER\");\nvar delay = env.get(\"DELAY\");\n\nif (msg.payload == undefined){\n    msg.payload = message;\n}\nif (msg.buzzer != undefined){\n    buzzer = msg.buzzer;\n}\n\n\n//enable this for http method and NOT for restful HA one\nmsg.payload = \"http://\" + username + \":\" + password + \"@\" + ip + \"/arg?MSG=\" + msg.payload + \"&REP=\" + repeat + \"&BUZ=\" + buzzer + \"&DEL=\" + delay + \"&ASC=1\"\nmsg.ipaddress = ip;\nmsg.repeat = repeat;\nmsg.buzzer = buzzer;\nmsg.delay = delay;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":100,"wires":[["a9c9a85f.482fd8","fb78934eab9277a5"]]},{"id":"fb78934eab9277a5","type":"api-call-service","z":"ef4f7fab.73edd8","d":true,"name":"Restful to Dot Matrix","server":"62fbb42a.76d54c","version":5,"debugenabled":false,"domain":"rest_command","service":"feed_to_dot_matrix_api_http","areaId":[],"deviceId":[],"entityId":[],"data":"{\"ipaddress\":\"{{{ipaddress}}}\",\"msg\":\"{{{payload}}}\",\"rep\":\"{{{repeat}}}\",\"buz\":\"{{{buzzer}}}\",\"del\":\"{{{delay}}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":240,"wires":[[]]},{"id":"62fbb42a.76d54c","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"b2af88c0bfb695fb","type":"subflow","name":"All Dot Matrixes","info":"","category":"","in":[{"x":180,"y":200,"wires":[{"id":"5c863673b2aa3b2c"},{"id":"0e23403e5d7dd70a"}]}],"out":[{"x":820,"y":200,"wires":[{"id":"5c863673b2aa3b2c","port":0},{"id":"0e23403e5d7dd70a","port":0}]}],"env":[],"meta":{},"color":"#D7D7A0"},{"id":"0e23403e5d7dd70a","type":"subflow:ef4f7fab.73edd8","z":"b2af88c0bfb695fb","name":"Living Room Dot Matrix","env":[{"name":"IP","value":"192.168.1.11","type":"str"},{"name":"BUZZER","value":"5","type":"str"}],"x":470,"y":220,"wires":[[]]},{"id":"5c863673b2aa3b2c","type":"subflow:ef4f7fab.73edd8","z":"b2af88c0bfb695fb","name":"Office Dot Matrix","env":[{"name":"IP","value":"192.168.1.12","type":"str"},{"name":"BUZZER","value":"5","type":"str"}],"x":470,"y":180,"wires":[[]]},{"id":"11e817797b884389","type":"tab","label":"Test Message Dot Matrix","disabled":false,"info":"","env":[]},{"id":"75b1396ea80bbbf2","type":"subflow:b2af88c0bfb695fb","z":"11e817797b884389","name":"","x":460,"y":200,"wires":[[]]},{"id":"84180ebe19949602","type":"inject","z":"11e817797b884389","name":"Test Message","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Test from Node-Red Playground.","payloadType":"str","x":210,"y":200,"wires":[["75b1396ea80bbbf2"]]}]